data/raw/garbage/*
data/raw/drainage/*
data/raw/pothole/*
data/raw/water_leakage/*
data/raw/street_light_electricity/*
data/train/garbage/*
data/train/pothole/*
data/train/drainage/*
data/train/water_leakage/*
data/train/street_light_electricity/*
data/val/garbage/*
data/val/drainage/*
data/val/pothole/*
data/val/water_leakage/*
data/val/street_light_electricity/*

!data/raw/drainage/.gitkeep
!data/raw/pothole/.gitkeep
!data/raw/garbage/.gitkeep
!data/raw/water_leakage/.gitkeep
!data/raw/street_light_electricity/.gitkeep
!data/val/drainage/.gitkeep
!data/val/pothole/.gitkeep
!data/val/garbage/.gitkeep
!data/val/water_leakage/.gitkeep
!data/val/street_light_electricity/.gitkeep
!data/train/drainage/.gitkeep
!data/train/pothole/.gitkeep
!data/train/garbage/.gitkeep
!data/train/water_leakage/.gitkeep
!data/train/street_light_electricity/.gitkeep